<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" href="/static/styles.css">
      <title> Cat! </title>
  </head>
  <body>
  	<header>
  		  <h1 id="anim"> This is a profile page! </h1>
  	</header>
  	<h2 class="orange"> {{cat.name}} </h2>
  	<br>
  	<img src="/static/images/cat1.jpg" style="width:400px;height:270px">
    <br>
  	<p id="police">  such a cat, wow </p>
  	<br>
  	<a href="http://127.0.0.1:5000/cat_voting"> vote for this cat </a>
  	<br>
  	<br>
  	<a href="http://127.0.0.1:5000/cat_creation"> create cat </a>
  </body>
</html>
