<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" href="/static/styles.css">
      <title> Cat! </title>
  </head>
  <body>
  	<header>
  		  <h1 id="anim"> This is a profile page! </h1>
  	</header>
  	<h2 class="orange"> {{cat.name}} </h2>
  	<br>
  	<img src="/static/images/cat1.jpg" style="width:400px;height:270px">
    <br>
  	<p id="police">  such a cat, wow </p>
  	<br>
  	<button type="button" onclick="alert('you have voted')">Vote!</button>
  	<br>
  	<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"> CLICK HERE </a>
  </body>
</html>
